:root {
  --primary-color: #e91e63;
  --secondary-color: #f8bbd0;
  --text-dark: #333;
  --text-light: #666;
  --white: #ffffff;
  --bg-light: #fce4ec;
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-dark {
  color: var(--text-dark);
}
